{% extends 'base.html' %}

{% block head %}
  <title>Home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='../static/script/utils.js')}}"></script>
{% endblock %}

{% block body %}

<!-- <div class="flex mb-6">
  <svg height = 618 class="bg-gray-900 text-teal-500 inline-block w-full">
  </svg>
</div> -->


<div class="bg-gray-900 mb-6 shadow-md rounded flex" style="height: 618px;">
  <div class="bg-white max-w-xs shadow-md rounded px-8 pt-6 pb-8 mb-4 md:w-1/2 h-full">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="input_data">
        Input Data
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="input_data" type="text" placeholder="Type Hi" maxlength=32>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded focus:outline-none focus:shadow-outline" id="go_btn">
        Go
      </button>
      <button class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" id="random_data_btn">
        Random Data
      </a>
    </div>
    <div class="my-6 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline resize-none">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="decoded_data">
        Decoded Data
      </label>
      <ul class="list-disc ml-10" id="decoded_data">
        <!-- <li class=" text-blue-600 font-bold">0000000000</li> -->
      </ul>
      
      </fieldset>
    </div>
  </div>
    <!--grid-->
    <!-- {% set grid_len = 16 %}
    {% set grid_size = calc_log(grid_len)|int %} -->
  <table class="table-fixed text-white bg-gray-500 my-6 mx-auto max-w-sm" id = "grid">
  </table>
    <!--/grid-->

</div>
<script>
  var bin= 0;
  const grid_size = 4;
  var decoded_data_list = [];
  document.getElementById("go_btn").addEventListener("click", populateData);

  function checkParity(){

  }
  
  function create_table(data,grid_size){
    var table = document.getElementById('grid');
    // clearing previous table
    table.innerHTML = "";
    for (var i = 0; i < grid_size; i++){
      var tr = document.createElement('tr');
      tr.setAttribute('id','row-'+i)

    for (var j = 0; j < grid_size; j++){
      var td = document.createElement('td');
      td.setAttribute('class','border px-4 py-2')
      
      var text1 = document.createElement('h1');
      text1.setAttribute('class',"text-2xl");
      text1.innerHTML = data[i*grid_size+j]
      
      var text2 = document.createElement('h2');
      text2.setAttribute('class',"text-xs");

      fetch('/get_bin', {
        method: 'post',
        body: JSON.stringify({ data: (i*grid_size + j).toString(), grid_size: grid_size.toString()})
      }).then(function(response) {
        return response.json();
      }).then(function(res) {
        console.log(i, res)
        text2.setAttribute('id',res);
        text2.innerHTML = res
      });

      td.appendChild(text1);
      td.appendChild(text2);
      tr.appendChild(td);
    }
    table.appendChild(tr);
    }
  }

  function fillDecodedData(result){
    decoded_data = "";
    var i = 0;
    while(i < result.length){
      str = result.slice(i,i+11 < result.length ? i+11: result.length)
      decoded_data_list.push(str);
      decoded_data += `<li id="decoded_data_focus_`+ i +`">` +
                      str + 
                      `</li>`
      i += 11;
    }
    
    document.getElementById("decoded_data").innerHTML = decoded_data;
    create_table(decoded_data_list[0],grid_size);
  }

  function populateData(){
    const input_data = document.getElementById("input_data").value;
    var decoded_data = "";

    fetch('/get_bin', {
      method: 'post',
      body: JSON.stringify({ data: input_data.toString()})
    }).then(function(response) {
      return response.json();
    }).then(function(res) {
      console.log(res)
      bin = res['bin_num'];
      result = bin.replaceAll(" ","");
      console.log(result)
      fillDecodedData(result)
    });

    
}
  
</script>
<!-- <script src="{{ url_for('static', filename='../static/script/visualize.js')}}"></script> -->
{% endblock %}